%div{ class: "jumbotron"}
  %div{ class: "container"}
    %div{ class: "row"}
      %div{ class: "col-sm"}
        -display_symbol({name:"Apple Inc.", symb:"AAPL", latest_update:"today", up_down:"up since last forecast", id:1})
      %div{ class: "col-sm"}
        -display_symbol({name:"Apple Inc.", symb:"AAPL", latest_update:"today", up_down:"up since last forecast", id:1})
      %div{ class: "col-sm"}
        -display_symbol({name:"Apple Inc.", symb:"AAPL", latest_update:"today", up_down:"up since last forecast", id:1})
