%div{ class: "jumbotron"}
  %div{ class: "container"}
    -@ticker.each do |t|
      %div{ class: "row"}
        -t.each do |s|
          %span{ style: "width: 1rem" }
          -display_symbol(s)
          