%div{ class: "jumbotron" }
  %div{ class: "container" }
    %div{ class: "row justify-content-center task-prediction" }
      %div{ class: "col-lg-11" }
        %div{ class: "card border-danger mb-3" }
          %div{ class: "card-header" }
            %h4{ class: "card-title" }
              heading
          %div{ class: "card-body" }
            %p{ class: "card-text" }
              text
    %div{ class: "row justify-content-center" }
      %div{ class: "col-sm-4" }
        %div{ class: "card border-info mb-3" }
          %div{ class: "card-header" }
            %h4{ class: "card-title" }
              heading
          %div{ class: "card-body" }
            %p{ class: "card-text" }
              text
      %div{ class: "col-sm-4" }
        %div{ class: "card border-info mb-3" }
          %div{ class: "card-header" }
            %h4{ class: "card-title" }
              heading
          %div{ class: "card-body" }
            %p{ class: "card-text" }
              text
      %div{ class: "col-sm-4" }
        %div{ class: "card border-info mb-3" }
          %div{ class: "card-header" }
            %h4{ class: "card-title" }
              heading
          %div{ class: "card-body" }
            %p{ class: "card-text" }
              text