%div{ class:"container-fluid" }
  %div{ class:"row" }
    %nav{ class:"col-sm-1 d-none d-sm-block sidebar" }
      %div{ class:"sidebar-sticky" }
        %ul{ class:"nav nav-pills flex-column" }
          %li{ class:"nav-item" }
            %a{ class:"nav-link btn btn-outline-danger btn-small", href:"/logout" }
              Logout
  %div{ class:"jumbotron col-sm-12" }
    %div{ class: "row justify-content-center" }
      %div{ class:"card bg-success mb-3" }
        %div{ class:"card-header" }
          %h4{ class:"card-title" }
            Add & Remove Stock Symbols
        %div{ class:"card-body" }
          %div{ class:"row" }
            %div{ class:"col" }
              %div{ class:"covered-symbols" }
                =form_tag("/remove", remote: true) do
                  =collection_select( :symb, :name, @symbols, :symb, :name, {}, { size:12 } )
                  =button_tag "Remove Symbol"
            %div{ class:"col" }
              %div{ class:"add-remove-text" }
                %div{ class:"col" }
                  =form_tag("/add", remote: true) do
                    %div{ class:"row" }
                      =text_field_tag 'new_symbol'
                    %div{ class:"row" }
                      =button_tag 'Add'
    %div{ class: "row justify-content-center" }
      %div{ class:"card bg-info mb-3" }
        %div{ class:"card-header" }
          %h4{ class:"card-title" }
            Get Prediction Data
        %div{ class:"card-body" }
          %div{ class:"row" }
            %div{ class:"col" }
              %div{ class:"covered-symbols" }
                =form_tag("/prediction/admin", remote: true) do
                  =collection_select( :symb, :name, @symbols, :symb, :name, {}, { size:12 } )
                  =button_tag "Get Prediction"
          %div{ class:"row" }
            %div{ class:"col", id:"task-prediction" }
