%div{ class:"container-fluid" }
  %div{ class:"row" }
    %nav{ class:"col-md-2 d-none d-md-block sidebar" }
      %div{ class:"sidebar-sticky" }
        %ul{ class:"nav nav-pills flex-column" }
          %li{ class:"nav-item" }
            %a{ class:"nav-link btn btn-outline-danger btn-small", href:"/logout" }
              Logout
          %li{ class:"nav-item" }
            %a{ class:"nav-link btn btn-outline-secondary btn-small", href:"/logout" }
              Logout
          %li{ class:"nav-item" }
            %a{ class:"nav-link btn btn-outline-secondary btn-small", href:"/logout" }
              Logout
          %li{ class:"nav-item" }
            %a{ class:"nav-link btn btn-outline-secondary btn-small", href:"/logout" }
              Logout