- predict = Prediction.where(["symbol = ?", params[:symbol]]).last
%div{ class: "col-md-4" }
  %div{ class: "card border-success mb-3" }
    %div{ class: "card-header" }
      %h4{ class: "card-title" }
        prediction json
    %div{ class: "card-body" }
      %p{ class: "card-text" }
        =pp @pred_req_data
%div{ class: "col-md-4" }
  %div{ class: "card border-success mb-3" }
    %div{ class: "card-header" }
      %h4{ class: "card-title" }
        prediction
    %div{ class: "card-body" }
      %p{ class: "card-text" }
        =pp @pred.body.string
%div{ class: "col-md-4" }
  %div{ class: "card border-success mb-3" }
    %div{ class: "card-header" }
      %h4{ class: "card-title" }
        Some Graph thing
    %div{ class: "card-body" }
      %p{ class: "card-text" }
        = line_chart( @iex_chart_data )