!!!
%html
  %head
    %title Stochast
    =csrf_meta_tags
    =csp_meta_tag

    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    =javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1" }

  %body{ class:"text-center"}
    %div{ class:"container" }
      =flash_message
    %nav{ class:"navbar navbar-default" }
      %span{ class:"navbar-brand d-flex flex-fill" }
        %a{ class:"", href:"/" }
          %h5
            Stochast
            %span{ class: "lead badge badge-pill badge-danger" }Alpha
      %ul{ class:"nav nav-pills justify-content-center d-flex flex-fill" }
        %li{class: "nav-item  mr-2"}
          %a{ class:"nav-link btn btn-outline-warning btn-sm", href: "/ticker_symbol/AAPL" }
            Predictions
            // TODO: implement a dropdown of available stocks, selection takes to prediction for the select
        %li{class: "nav-item  mr-2"}
          %a{ class:"nav-link btn btn-outline-warning btn-sm", href: "/auth/google_oauth2" }
            Admin
        %li{class: "nav-item  mr-2"}
          %a{ class:"nav-link btn btn-outline-warning btn-sm", href: "/about" }
            About
        %li{class: "nav-item  mr-2"}
          %a{ class:"nav-link btn btn-outline-warning btn-sm", href: "/privacy-policy.html", target:"_blank"}
            Privacy Policy
        %li{class: "nav-item mr-2"}
          %a{ class:"nav-link btn btn-outline-warning btn-sm", href: "/tos.html", target:"_blank"}
            Terms of Service
    =yield
  %footer
    %nav{ class:"navbar navbar-default" }
      %a{ class:"nav-link btn btn-outline-info btn-xsmall", href:"https://iexcloud.io" }Data provided by IEX Cloud
